
.task-container {
    text-align: left;
  }
  
  .dropdown-menu li i {
      width: 30px;
      font-size: 15px;
      cursor: pointer;
  }
  
  
  select {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
      border-radius: 5px;
      border: none;
      color: #fff;
      cursor: pointer;
      background: #2b2b2b;
      transition: all 0.5s ease;
  }
  
  /* 滑鼠懸停時變化 */
  select:hover {
      background-color: #2b2b2b;
      box-shadow: none;
      transition: all 2.8s ease;
  }
  
  /* 點擊時的樣式 */
  select:focus {
      outline: none;
      transition: all 2.8s ease;
  }
  
  /* 下拉選單的箭頭樣式 */
  select::-ms-expand {
      display: none;
      /* 隱藏 IE 的箭頭 */
  }
  
  
  .date {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
      font-size: 12px;
      border: 2px;
      border-radius: 5px;
      background-color: #2b2b2b;
      color: #fff;
      cursor: pointer;
      transition: all 0.5s ease;
  }
  
  .date:hover {
      background-color: #2b2b2b;
      box-shadow: none;
      transition: all 2.8s ease;
  }
  
  .date:focus {
      outline: none;
      transition: all 2.8s ease;
  }
  
  
  .modal-backdrop {
    width: 370px;
    position: fixed;
    left: 175px;
    
    background-color: rgb(63 63 63 / 50%);
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    z-index: 1000;
  }
  
  .modal-backdrop{
    left: 90px;
    bottom: 70px;
    background-color: rgb(63 63 63 / 50%);
  }
  
  
.describe{
  text-align: left;
  padding: 0px 5px 20px 15px;
  
}


  .light-mode select ,
  .light-mode .date ,
  .light-mode .modal-content {
    color: #000;
    background-color: #ffffff;
  }
  
  .light-mode .modal-header button{
    color: #000;
  }
  
  .light-mode  .modal-footer button{
    border: #fff;
    background-color: #ffffff;
    color: #000;
    border-radius: 25px;
    transition: all 0.8s ease;
  }
  
  .light-mode  .modal-footer button:hover{
    background-color: #dddddd;
  }
  
  .light-mode .range-type-selector {
    color: #fff;
  }
  
  .modal-content {
    /* padding: 20px; */
    /* background-color: #292929; */
    /* width: 500px; */
    /* max-width: 90%; */
    border-radius: 8px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    overflow: hidden;
  }
  
  .modal-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #eee; */
  }
  
  
  .modal-header button{
    color: #fff;
  }
  
 .close-btn {
  padding: 5px 10px 0px 0px;
    text-align: right;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-body {
    padding: 5px 0px;
  }
  
  .modal-body label{
    text-align: left;
  }
  
  .range-type-selector {
    display: flex;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #ddd;
  }
  
  
  
  .range-type-option {
    font-weight: 400;
    font-size: 10px;
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
    /* background: #14a6fa; */
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  
  }
  
  .range-type-option:not(:last-child) {
    border-right: 1px solid #ddd;
  }
  
  .range-type-option:hover {
    background-color: #2483b9;
  }
  
  .range-type-option.active {
    background-color: #2483b9;
    color: white;
  }
  
  .date-selector {
    margin-top: 20px;
  }
  
  .year-selector,
  .month-selector,
  .quarter-selector,
  .date-range-selector {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .month-selector > div,
  .quarter-selector > div,
  .date-range-selector > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  label {
    min-width: 80px;
  }
  
  select, input[type="date"] {
    padding: 8px;
    
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
  }
  
  .modal-footer {
    padding: 12px;
    /* display: flex; */
    justify-content: flex-end;
    /* gap: 10px; */
    /* border-top: 1px solid #eee; */
  }
  .range-type-selector2 {
    border-radius: 15px;
    overflow: hidden;
    /* border: 1px solid #ddd; */
    color: #fff;
  }
  
  .range-type-selector2 div{
    text-align: left;
    margin-bottom: 5px;
    border-radius: 15px;
    font-size: 14px;
  }
  .range-type-selector2 .range-type-option{
    border: 1px #fff solid;
  }
  
  .range-type-selector2 div i{
    font-size: 15px;
    width: 30px;
    cursor: pointer;
    margin-left: 35px;
  }
  
  .light-mode .range-type-selector .range-type-option{
    color: #cfcfcf;
  }
  
  .light-mode .range-type-selector .range-type-option:hover,
  .light-mode .range-type-selector .range-type-option.active{
    color: #ffffff;
  }
  
  
  
  .light-mode .range-type-selector2 .range-type-option{
    border: 1px #999999 solid;
    color: #a8a8a8;
  }
  
  .light-mode .range-type-selector2 .range-type-option:hover{
    color: #ffffff;
  }

  .modal-content p{
    color: #b9b9b9;
    padding: 0px 5px;
    font-size: 12px;
  }

  .modal-content .hr{
      background: #4b4a4a;
      height: 1px;
      margin: 12px 0px;
      width: 100%;
  }
  
  .light-mode  .modal-content .hr{
      background: #a8a8a8;
      height: 1px;
      margin: 12px 0px;
      width: 100%;
  }