.export-container {
    width: 94%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #888 #222;
  }

  .export-container::-webkit-scrollbar {
    width: 8px;
  }

  .export-container::-webkit-scrollbar-track {
    background: #222;
  }

  .export-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .export-container .hr{
    background: #383838;
    height: 1px;
    margin: 17px 0px;
    width: 100%;
  }

  .export-category span{
    cursor: pointer;
    font-size: 16px;
    white-space: pre-wrap;
    /* 保留換行並自動換行 */
    word-wrap: break-word;
    /* 讓長單詞換行 */
  }


  .export-category i{
    font-size: 14px;
  }

  .post {
    background: #222;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
  }

  .user {
    font-weight: bold;
  }

  .time {
    color: gray;
    font-size: 12px;
  }

  .content {
    margin-top: 5px;
  }

  .content .completed {
    color: #5a5a5a;
  }

  .actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    color: gray;
  }